@media (min-width: 1024px) {
  body {
    width: 700px;
    margin: 0 auto;
  }

  header#banner h2 {
    font-size: 1.9em;
  }

  header#banner nav ul {
    font-size: 1.4em;
  }

  main#content h3 {
    font-size: 1.5em;
  }

  main#content ul#posts {
    font-size: 1.4em;
  }

  main#content header#post-header h1 {
    font-size: 1.8em;
}

main#content header#post-header > div {
    font-size: 0.95em;
}

main#content p {
  font-size: 1.1em;
}
}
