<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{- .Site.Params.description -}}">
    
    <!-- Array to hold all css files -->
    {{ $resources := slice -}}

    <!-- We `Get` all css files and store them inside the $resources array -->
    {{ $resources = $resources | append (resources.Get "css/main.css") -}}
    {{ $resources = $resources | append (resources.Get "css/main768px.css") -}}
    {{ $resources = $resources | append (resources.Get "css/main1024px.css") -}}
    {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}

    <!-- We concatenate all css into one file and minify it -->
    {{ $css := $resources | resources.Concat "css/style.css" | minify }}

    <!-- We link the resulting single minified file. The result is that in the
        end user fetches only one minified css file instead of downloading
        multiple files -->
    <link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">

    <link rel="icon" type="image/svg" href="/img/favicon.svg">

    <title>{{ .Title }}</title>
</head>
